//
   Created by root on 12/07/15.

extends ../layout
block content

   div.ficha
    img.foto(src="/images/jony.jpg", alt="foto Jony")
    h4.nombre Jonatan Cayón
    p.descripcion Entusiasta de la programación.